@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Rubik+Glitch&family=VT323&display=swap');

* {
  padding: 0;
  margin: 0;
}



body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(Register\ -\ Login.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300vh;
}

h1 {
  font-family: 'Rubik Glitch', cursive;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 150vh;
  right: 200px;
  color: white;
  letter-spacing: 10px;
  font-weight: normal;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 150hv; /* Esto hace que el contenedor ocupe toda la altura de la pantalla */
  align-items: center;
  position: center;
}

.ventana1 {
  position: absolute;
  top: 30px;
  left: 70px;
}

.ventana2 {
  position: absolute;
 left: 800px; ;
 top : 40px;
}
.ventana3 {
  position: absolute;
 left: 30px; ;
 top : 600px;
}

.ventana4 {
  position: absolute;
 left: 990px; ;
 top : 600px;
}

.ventana5 {
  position: absolute;
 left: 10px ;
 top : 960px;
}

.ventana6 {
  position: absolute;
 left: 860px ;
 top : 950px;
}

.ventana7 {
  position: absolute;
 left: 500px ;
 top : 1400px;
}
